*{
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary: #8c38ff;
    --light: #EEEEEE;
    --dark: #212121; 
}


#conten{
  background-color: rgba(232, 232, 238, 0.711);
  margin-bottom: 14.9vh;
  width: 100%;
  position: absolute;
}

#conten{
  background: url(../images/fondo.jpg)
  no-repeat center center fixed;
  background-size: cover;
  opacity: 1;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.Esc-im{
  margin-top: 7px;
  width: 140px;
  height: 120px;
  border-radius: 70px;
}
.Menu img:hover{
    opacity: 0.5;
}

* {
    margin: 0;
    padding: 0; 
  }

  .pagePhone{
    justify-content: space-between;
    width: 100%;
    display: flex;
    background-color: rgba(29, 108, 177, 0.945);;
    padding-left: 10px;
    padding-top: 12px;
    padding-right: 10px;
    padding-bottom: 10px;
  
}

#ap1,#ap2 {
  text-decoration: none;
  list-style: none;
  color: white;
  margin: 0;
}

textarea{
  resize: none;
}

.Menu, .menu{
    justify-content: space-around;
    display: flex;
}


ul{
  display: flex;
}
li{
    list-style: none;
    display: flex;
    margin-inline-start: 0px;
    margin-inline-end: 10px;
    padding-inline-start: 10px;
    align-items: center;

 }

.Menu{
  background: rgb(160,230,157);
background: linear-gradient(90deg, rgba(160,230,157,1) 36%, rgba(157,205,199,0.908000700280112) 60%);
}

li:hover {
    opacity: 0.5;
    cursor: pointer;
}


  #NavClick{
    font-size: 20px;
    color:var(--dark);
    display: flex;
    text-decoration: none;
    border: border-box;
  }


#tet{
    display: flex;
    justify-content: space-between;
}
  .Menu h1{
    color:  var(--dark);
  }




.FF-Footer{
    background-color: rgba(29, 108, 177, 0.945);;
    width: 100%;
    height:30px;
    text-align: center;
    text-decoration: none;
    width:100%;
    position: fixed;
    bottom: 0px;
    flex-direction: column;
}
.Footer-fondo {
  bottom: 0px;
  display: flex;
  font-weight: 20px;
  padding: 10px;
  background-color: rgba(27, 138, 236, 0.945);
  width: 100%;
  left:0px;
  height: 15vh;
  width:100%;
  position: fixed;
}

#NavClick:focus{
  opacity: 0.8;
}

svg{
  color: #EEEEEE;
}
.Colegio, a, a:visited , a:active{
  padding-top: 2px;
  text-decoration: none;
  color: #EEEEEE;
  justify-content: center;
}

.contenedor-fi{
  display: flex;
}
.Ig-footer{
  padding-left: 10px;
}

#linkk , .aa{
    text-decoration: none;
}

.Imenu{
  display: flex ;
  align-items: center;
}

.Imenu h1{
  padding-left: 15px;
}
#contact-footer, .Acerca-de-c{
  font-weight: bolder;
  bottom: 0;
  position: fixed;
  margin-bottom: 4vh;
}
.Acerca-de-c{
  margin-left: 10vw
} 

#contact-footer{
  margin-left: 70vw;
}

.Log-in{
  padding-left: 10px;
  justify-content: space-between;
}

.rec , .reg{
  color: #1b1111;
}

.Qsomos, p{

  font-size: 13px;
}

.FF-Footer{
  z-index: 1;
}

.Footer-fondo{
  bottom: 0px;
  z-index: 1;
  justify-content: space-between;
}



.matri-img, .fami-img{
  width: 20vw;
  height: 30vh;
  border-radius: 5%;
}


.page-border1{
  background-color: rgba(196, 210, 196, 0.573);
  border-radius: 20px;
  margin-left: 35vw;
  margin-right: 35vw;
  margin-top: 2vh;
  padding-top: 50px;
  padding-left: 100px;
  padding-bottom: 30px;

}
.page-border2{
  background-color: rgba(196, 210, 196, 0.573);
  border-radius: 20px;
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 0;
  margin-top: 8px;
  padding-top: 50px;
  padding-left: 100px;
  padding-bottom: 30px;
}

.prim2{
  padding-left: 10vh;
  font-style: oblique;
}

.prim1{
  padding-left: 5vh ;
  text-align: justify;
  font-style: oblique;
}
.Infor-cont{
  background-color: rgba(246, 229, 229, 0.323);
  padding-top: 40px;
  padding-right: 7vw;
  margin-left: 37vw;
  margin-right: 30vw;
  margin-top: 5vh;
  border-radius: 20px;
  padding-bottom: 30px;
}

textarea, input{
  font-family: 'Poppins';
}


.form-inf{
  width: 90%;
  margin-right: 200px;
  justify-content: center;
  align-items: center;
}

.form-inf input{
  width: 30vw;
  height: 30px;
  margin: 0.5rem;
  text-align: center;
  font-family: 'Poppins';
  font-weight: bold;
  border-radius: 5px;
}



.form-inf textarea{
  padding-top: 10px;
  text-align: center;
  font-family: 'Poppins';
  font-weight: bold;
  width: 140%;
  padding-bottom: 14vh;
  border-radius: 10px;
}

.form-inf button {
  padding: 0.6em 1.2em;
  font-family: 'Poppins';
  font-weight: 200;
  font-style: bold;
  background: rgb(100, 200, 255);
  cursor: pointer;
  border-radius: 15px;
  margin-left: 15vw;
}

.form-inf h1{
  text-align: center;
  margin-left: 10vw;
}
.form-inf h2{
  text-align: center;
  margin-left: 10vw;
}

.titulo-inf {
  padding-left: 1.2vw;
}
.text-inf{
  padding-left: 40px;
  word-wrap: break-word;
  text-align: justify;
}

td{
  margin-right: 2vw;
}

